* {
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item1 { 
  grid-area: header; 
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #202020;
  background-style: solid;
}
.item2 { 
  grid-area: login;
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
  background-color: #202020;
  background-style: solid;
  padding: 15px;
}
.item3 { 
  grid-area: nav_item_1; 
  background-color: #a44200;
  text-align: center;
}
.item4 { 
  grid-area: nav_item_2; 
  background-color: #a44200;
  text-align: center;
}
.item5 { 
  grid-area: nav_item_3; 
  background-color: #a44200;
  text-align: center;
}
.item6 { 
  grid-area: content_pg; 
}
.item7 { 
  grid-area: image_1; 
  padding-top: 15px;
}
.item8 { 
  grid-area: image_2; 
  padding-top: 15px;
}
.item9 { 
  grid-area: image_3; 
  padding-top: 15px;
}
.item10 { grid-area: footer; 
  position: fixed;
  bottom: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  overflow-wrap: break-word;
  background-color: #202020;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 20px auto auto auto; 
  grid-template-areas: 
    'header header login'
    'nav_item_1 nav_item_2 nav_item_3'
    'content_pg content_pg content_pg'
    'image_1 image_2 image_3'
    'footer footer footer';
}

.bg-style {
  background-image: url(../images/1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.split_right {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
}

h1 {
  display: block;
  font-size: 1.9em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.3em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

img {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #a44200;
  border-width: 1px;
  margin-right: 10px;
  margin-top: 5px;
}

a {
  text-decoration: none;
}

.grey_bg {
  background-color: rgba(0, 0, 0, 0.6)
}

.padding {
  padding-right: 10px;
  padding-left: 20px;
}
